@import "tailwindcss";

.steelblue {
    background-color: rgb(0, 101, 150);
}

.prose p {
    margin-bottom: 1em;
}

.prose pre {
    background-color: #CCC;
    padding: 0.5em;
    margin-bottom: 1em;
}

.prose div.highlight { 
    border-left: 2px dashed grey;
}

.prose a {
    color: oklch(38.6% 0.063 188.416);
    text-decoration: underline;
}

.prose a:hover {
    color: oklch(75% .183 55.934);
}
    
.prose h1,h2,h3 { 
    color: oklch(38.6% 0.063 188.416);

    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
}

.prose h1 { 
    font-size: 150%;
}
.prose h2 {
    font-size: 130%;
}

.prose h3 {
    font-size: 110%;
}

.prose ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.5em;
}

.prose ul li {
    margin-bottom: 0.5em;
}
    

.prose ol {
    list-style-type: number;
    list-style-position: outside;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.prose code {
}


