a, .btn.btn-link {
  color: #2978a0;
}

body {
  background-color: #fbfbff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

code {
  background-color: transparent;
}

.highlight pre {
  padding: 0.25em;
}

a:hover, .btn.btn-link:hover {
  color: darkorange;
}

.btn:focus {
  background-color: orange;
}

.btn:hover {
  color: darkorange;
  border: 1px solid orange;
  background-color: #fffafa;
  box-shadow: 2px 2px lightgray;
}